
/* For Small Devices*/


@media screen and (max-width: 688px) {


    .container {
        width: 100%;
        height: auto;
        
        
    }
    
    .menu_bar {
        display: block;
        padding: 20px;
        margin: auto;
    }
    
    
    .menu ul {
        display: block;
        
    }
    
    .menu ul li {
        padding: 10px;
    }
    
    .menu ul li a {
        
        padding:  0;
        margin-right: 0;
        color: white;
        font-size: 15px;
    }
    
    .main_content {
        display: block;
        width: 100%;
        margin: auto;
        background-color: #4339cc;
    }
    
    
    .live_area {
        
        width: 100%;
    }
    
    .picture_area {
        
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
    
    .live_area h1 {
        font-size: 50px;
        line-height: normal;
        text-align: center;
    }
    
    
    .button_live {
        margin: auto;
    }
    
    
    
    .players {
        padding-top: 0;
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    .highligts_area {
        width: 100%;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    
    .content_h p {
        padding: 20px;
    }
    
    
    .content_h h2 {
        font-size: 45px;
        
        margin-bottom: 25px;
    }
    
    .pic_h {
        width: 80%;
        margin: auto;
    }
    
    
    .logo {
        width: 80%;
    }
    
        
    
    }



